@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@300 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}

html, body, #root{
    height: 100vh;
}
body{
    font: 14px 'Open Sans', sans-serif;
    background-color: #EFEFEF;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
button{
    cursor: pointer;
}